@import url('https://fonts.googleapis.com/css?family=Lato');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

ul, li {
    list-style: none;
    text-decoration: none;
}

ul {
    padding: 10px;
    margin: 5px;
}

li {
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

#container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

#date {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: left;
    color: white;
    font-size: 16px;
    z-index: 0;
}

#weather {
    position: absolute;
    top: 60px;
    left: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
    color: white;
    font-size: 16px;
    z-index: 0;
}

#lock {
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 20px;
    height: auto;
    opacity: 0.8;
    transition: all 0.2s;
}

#lock:hover {
    opacity: 1;
    cursor: pointer;
}

#w-icon {
    width: 35px;
    margin-top: 5px;
}

#m-icon {
    width: 22px;
    opacity: 0.8;
    transition: all 0.2s;
}

#m-icon:hover {
    opacity: 1;
}

#mail {
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
    z-index: 0;
}

#notifs {
    position: absolute;
    right: -5px;
    top: -5px;
    padding: 1px;
    min-width: 12px;
    background: red;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    text-align: center;
    z-index: 2;
}

#bookmarks {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    margin: auto;
    justify-content: center;
    margin-top: 150px;
    max-height: 100vh;
}

.bookmark {
    position: relative;
    width: 156px;
    height: 56px;
    margin: 12px;
}

.bookmark-link {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 3px;
    width: 150px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all 0.2s;
}

.bookmark-link:hover {
    background: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.bookmark-link.disabled {
    pointer-events: none;
    cursor: default;
    transform: none;
}

.bookmark-content {
    display: flex;
    height: 100%;
}

.bookmark-content img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bookmark-title {
    margin-left: 8px;
    margin-top: 2px;
    width: 80px;
    height: 45px;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
}

.actions {
    opacity: 0;
    transition: all 0.2s;
}

.delete-btn {
    position: absolute;
    top: -7px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.delete-btn:hover {
    cursor: pointer !important;
    box-shadow: 0px 0px 2px 2px white;
}

.edit-btn {
    position: absolute;
    top: -7px;
    right: 13px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.edit-btn:hover {
    cursor: pointer !important;
    box-shadow: 0px 0px 2px 2px white;
}

#credits {
    position: absolute;
    left: 15px;
    bottom: 15px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: left;
    color: white;
    font-size: 14px;
}

#credits a:hover {
    opacity: 0.8;
}

#photo_loc {
    font-size: 12px;
    margin-top: 2px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 13;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 150px;
    text-align: left;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 25%;
    border-radius: 3px;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(82, 209, 86);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.cancelbtn {
    background-color: rgb(206, 66, 66);
    margin-left: 10px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancelbtn:hover {
    background-color: rgb(148, 22, 22);
}